<style>
  .match-tab {
    text-align: center;
    margin-top: 20px;
  }

  .match-tab:hover {
    background-color: #2980b9;
  }

  .match-tab-container {
    margin-right: 60%;
    text-align: center;
  }
</style>
<body>
<div class="match-tab-container">
  <button class="btn btn-icon-text match-tab tab" type="button">
    <svg class="fa d-icon d-icon-puzzle-piece svg-icon svg-string" xmlns="http://www.w3.org/2000/svg"><use href="#puzzle-piece"></use></svg><span class="d-button-label">Match With Other Users<!----></span>
  </button>
</div>
</body>
